.Button {
    background-color: #d99773;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    background-color: #eaac8b !important;
    color: whitesmoke;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #eea6a8 !important;
}

.Button:active {
    background-color: #eaac8b !important;
    color: #c16b7d;
}

.Button:focus {
    background-color: #eaac8b;
    border-color: transparent;
}

.Submit {
    background-color: #9c6eb9 !important;
}

.Submit:hover {
    background-color: #c099d9 !important;
    color: whitesmoke;
    border-color: transparent;
    cursor: pointer;
}

.Submit:hover:active {
    background-color: #cfb7de !important;
}

.Cancel {
    background-color: #e56b6f !important;
}

.Cancel:hover {
    background-color: #ec898c !important;
    color: whitesmoke;
    border-color: transparent;
    cursor: pointer;
}

.Cancel:hover:active {
    background-color: #eea6a8 !important;
}

.ImgSubmit {
    font-size: 0.8rem;
    color: #9c6eb9 !important;
    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.ImgSubmit:hover {
    background-color: #c099d9 !important;
    color: whitesmoke !important;
    border-color: transparent;
    cursor: pointer;
}

.ImgSubmit:hover:active {
    background-color: #cfb7de !important;
}

.ImgCancel {
    font-size: 0.8rem;
    color: #e56b6f !important;
    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.ImgCancel:hover {
    background-color: #ec898c !important;
    color: whitesmoke !important;
    border-color: transparent;
    cursor: pointer;
}

.ImgCancel:hover:active {
    background-color: #eea6a8 !important;
}
