.Button {
    background-color: #d99773;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    background-color: #eaac8b !important;
    color: whitesmoke;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #eaac8b !important;
}

.Button:active {
    background-color: #eaac8b !important;
    color: #c16b7d;
}

.Button:focus {
    background-color: #eaac8b;
    border-color: transparent;
}
