.MobileList {
    text-align: center;
    border: none;
}

.List {
    background-color: #f2f0f3;
    border: none;
    border-radius: 2px;
    margin-bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
