.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
}

.Absolute {
    cursor: pointer;
    right: 0;
    z-index: 99;
    display: inline;
    vertical-align: inherit;
}
