.NavBar {
    background-color: #ebf3fb;
    border: 1px solid #dee6ee;
}

.Brand {
    font-weight: 500;
}

.Active {
    text-decoration: none;
    color: #e56b6f;
}

.NavLink span {
    font-weight: bold;
}

.NavLink i {
    display: inline;
}

.Nav {
    flex-direction: unset;
}
