.NavBar {
    margin: 0;
    background-color: #ebf3fb;
}

.Nav {
    width: max-content;
    flex-direction: row;
}

.Collapse {
    display: flex;
    flex-direction: row;
}

.Brand {
    font-weight: 500;
}

.Active {
    color: #915f78;
}

.AddPost {
    color: #e77c76 !important;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.AddPostActive {
    padding: 0.25rem;
}

.AddPost:hover {
    color: #b56576 !important;
}

.AddPost:active {
    color: #dd93a3 !important;
}

.NavLink span {
    font-weight: bold;
}

.NavLink i {
    display: inline;
}

.Col {
    align-items: center;
}

.Flip {
    display: block;
    transform: rotate(0.5turn);
}

.HideToggle {
    display: none;
}
