.NavBar {
    background-color: #ebf3fb;
    border: 1px solid #dee6ee;
}

.Brand {
    font-weight: 500;
}

.Active {
    color: #e56b6f;
}

.AddPost {
    color: #915f78 !important;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.AddPost:hover {
    color: #b56576 !important;
}

.AddPost:active {
    color: #dd93a3 !important;
}

.NavLink span {
    font-weight: bold;
}

.NavLink i {
    display: inline;
}

.Nav {
    width: max-content;
    align-items: center;
    flex-direction: unset;
}

.Col {
    align-items: center;
}
