.Post {
    background-color: #f2f0f3;
    border: none;
    margin-bottom: 16px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Heart {
    cursor: pointer;
    color: #d93e26;
}

.HeartOutline {
    color: #d93e26;
}

.Comment {
    color: #ea9386;
}

.Date {
    font-size: 0.9rem;
}

.Line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(109, 89, 122, 0.75),
        rgba(0, 0, 0, 0)
    );
}

.CardBodyTop {
    padding: 1rem 1rem 0 !important;
}

.CardBodyBottom {
    padding: 0 1rem 1rem !important;
}

.Mirror {
    transform: scale(-1, 1);
}
