.List {
    font-weight: bold;
    background-color: #f2f0f3;
    border: none;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Comments {
    color: #cf786b;
}

.Likes {
    color: #d93e26;
}

.Users {
    color: #a68cb7;
}
