.Container {
    margin: 0;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Card {
    max-height: 45rem;
    display: inline-block;
    padding: 2.5rem;
    background-color: inherit;
    border: none;
    min-width: 18rem;
    width: 65%;
    font-size: 14px;
    position: relative;
}

.Body {
    border-radius: 10px;
    box-shadow: rgba(109, 89, 122, 0.5) 0px 34px 48px 0px;
}

.Title {
    color: #dd6266;
    padding-top: 1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.15em;
}

.Text {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
}

.Link {
    padding-top: 25px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
}

.Link span {
    font-weight: bold;
    color: #6d597a;
}
