* {
    box-sizing: border-box;
}

.App {
    font-family: 'Quicksand', sans-serif;
    white-space: break-spaces;
    color: #355070;
    background-color: #f8f8f8;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

a {
    color: inherit;
}

a:hover {
    transition: all 0.2s;
    text-decoration: none;
    color: #915f78;
    cursor: pointer;
}

.UploadImg {
    height: fit-content;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

.Truncated {
    overflow: hidden;
}

.Ellipses {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.ClickTap {
    font-weight: bold !important;
    cursor: pointer;
    color: #e88c7d !important;
}
