* {
    box-sizing: border-box;
}

.App {
    font-family: 'Quicksand', sans-serif;
    color: #355070;
    background-color: #f8f8f8;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

a {
    color: inherit;
}

a:hover {
    transition: all 0.2s;
    text-decoration: none;
    color: #b56576;
    cursor: pointer;
}

.UploadImg {
    height: fit-content;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}
